header{ background:#0abfbc; color:blue; display:flex;justify-content: space-around;}
    .imagem { width:200 px ;
position: relative;
top: 50px;
left:150px}

.imagem-cursista{ 
width: 130px
}

.titulocursista{ 
font-size:30px;
    font-family:verdana;
    color: 
        text-align: center}

 . cursistadiv
     margin: 60px}

.todoscursistas{
    display: grid;
    grid-template-columns:20%,20%,20%,20%,20%;
}

   
